
.card-atraso{
  width: 80%;
  background-color: #ff2c2cc4;
}

.card-porcentaje{
  width: 80%;
  background-color: #c4b929;
}
.card-bloques-certificados{
  width: 80%;
  background-color: #6330dbc4;
}
