<div class="container mt-5">
<mat-card class="tiempo-card">
  <mat-card-title>El tiempo AHORA</mat-card-title>
  <mat-card-content class="text-contenido">{{clima.temperature}}°, {{clima.text}}.<br>
    Humedad del: {{clima.humidity}}%</mat-card-content>
</mat-card>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 mt-5">

  <!-- Fecha Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Dia </th>
    <td mat-cell *matCellDef="let dia"> {{dia.date}} </td>
  </ng-container>

  <!-- Temperatura Minima Column -->
  <ng-container matColumnDef="temperature_min">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Min </th>
    <td mat-cell *matCellDef="let dia"> {{dia.temperature_min}}</td>
  </ng-container>


  <!-- Temperatura Maxima Column -->
  <ng-container matColumnDef="temperature_max">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Max </th>
    <td mat-cell *matCellDef="let dia"> {{dia.temperature_max}}°C </td>
  </ng-container>

  <!-- Humedad Column -->
  <ng-container matColumnDef="humidity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Humedad </th>
    <td mat-cell *matCellDef="let dia"> {{dia.humidity}}% </td>
  </ng-container>

   <!-- Descripcion Column -->
   <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let dia"> {{dia.text}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
